/* Estilo Geral */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.parallax {
    position: relative;
    background-image: url('/img/bg-parallax.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.5); /* Translucent overlay */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
}

header p {
    font-size: 1.25rem;
}

.btn-light {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #333;
}

.btn-light:hover {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}

.card.shadow-sm {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card p {
    font-size: 1rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

footer {
    background-color: #f8f9fa;
}

/* Efeitos de Transição */
.btn, .card {
    transition: all 0.3s ease;
}

.btn:hover, .card:hover {
    transform: translateY(-3px);
}
